<h1>{{actionLabel}} Account</h1>

<label>
    Username
    {{focus-input type="text" value=username}}
</label>

<label>
    Api Key
    {{input type="text" value=key placeholder="(Leave blank to generate)"}}
</label>

<fieldset>
    <legend>Permissions</legend>

    {{checkbox-group
        name="roles"
        selection=roles
        content=allRoles
        checkboxLabelPath="content.label"
        checkboxValuePath="content.name"}}
</fieldset>

<button {{action "save"}}>Save</button>

{{#if canDelete}}
<button {{action "delete"}}>Delete</button>
{{/if}}

<button {{action "cancel"}}>Cancel</button>

{{#if errorMessage}}
<div class="error">
    {{errorMessage}}
</div>
{{/if}}

{{#if isSaving}}
<p class="save-in-progress">
    Saving...
</p>
{{else}}
    {{#if isSaveCompleted}}
        <p class="save-completed">
            Saved.
        </p>
    {{/if}}
{{/if}}
