The admin page. running: {{isRunning}} connected: {{isConnected}}
<button {{action "synchronize"}} {{bindAttr disabled="isRunning"}}>Synchronize Packages</button>
<button {{action "cancel"}}>Cancel</button>
