<div class="container">
    <header>
        <nav class="user-info">
            {{#if isLoggedIn}}
                {{#link-to 'profile'}}{{username}}{{/link-to}}
                |
                <a href="#" {{action 'logOut'}}>Sign Out</a>
            {{else}}
                <a href="#" {{action 'logIn'}}>Sign In</a>
            {{/if}}
        </nav>
        <nav>
            {{#link-to 'index'}}Home{{/link-to}}
            {{#link-to 'admin'}}Admin{{/link-to}}
            <a {{bind-attr href=apiUrl}}>Api</a>
        </nav>
        <div class="search-box">
            {{input type="text" value=searchBox action="search" placeholder="Search..."}}
        </div>
    </header>

    <main>
        {{outlet}}
    </main>

    {{view App.Footer}}
</div>
