<div class="container">
    <header>
        <nav class="user-info">
            {{#if isLoggedIn}}
                {{#linkTo 'profile'}}{{username}}{{/linkTo}}
                |
                <a href="#" {{action 'logOut'}}>Sign Out</a>
            {{else}}
                <a href="#" {{action 'logIn'}}>Sign In</a>
            {{/if}}
        </nav>
        <nav>
            {{#linkTo 'index'}}Home{{/linkTo}}
            {{#linkTo 'admin'}}Admin{{/linkTo}}
            <a {{bindAttr href=apiUrl}}>Api</a>
        </nav>
        <div class="search-box">
            {{input type="text" value=searchBox action="search" placeholder="Search..."}}
        </div>
    </header>

    <main>
        {{outlet}}
    </main>

    {{view App.Footer}}
</div>
