<header class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' classNames='navbar-brand'}}Klondike{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'packages.list' (query-params page=0)}}Packages{{/link-to}}</li>
        <li>{{#link-to 'symbols'}}Symbols{{/link-to}}</li>
        <li>{{#link-to 'admin' rel="nofollow"}}Admin{{/link-to}}</li>
        <li><a {{bind-attr href=apiURL}}>Api</a></li>
        <li>{{input type="text" value=searchBox action="search" placeholder="Search..."}}</li>
      </ul>
      {{#if isSessionInitialized}}
        <ul class="nav navbar-nav navbar-right">
          {{#if isLoggedIn}}
            <li>{{#link-to 'profile'}}{{username}}{{/link-to}}</li>
            <li><a href="#" {{action 'logOut'}}>Sign Out</a></li>
          {{else}}
            <li><a href="#" {{action 'logIn'}}>Sign In</a></li>
          {{/if}}
        </ul>
      {{/if}}
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</header>

<main class="container">
  {{outlet}}
</main>

{{view "footer"}}
