{{#with view.content}}
    <div>
        Total Packages: {{totalPackages}}
    </div>
    <div>
        Synchronizer State: {{synchronizationState}}
        {{#if packagesToIndex}}
            {{completedPackages}} / {{packagesToIndex}}
        {{/if}}
    </div>
{{/with}}
<div>
    Klondike Version {{view.version}}
</div>
