<h1>{{username}}</h1>

{{#if canPushPackages}}
    <p>To push packages, first set your API Key:</p>

    {{code-snippet content=setApiKeyCommandWithPrompt data=setApiKeyCommand}}

    <p>To push packages, run:</p>

    {{code-snippet content=pushPackageCommandWithPrompt data=pushPackageCommand}}
{{else}}
    <p>Your NuGet API Key is {{key}}, but you are not allowed to push packages.</p>
{{/if}}

<button {{action "changeKey"}}>Change API Key</button>

<p>
    You have the following permissions:
    {{#each role in roles}}
        {{role}}
    {{else}}
        (none)
    {{/each}}
</p>
