<h1>{{username}}</h1>

{{#if canPushPackages}}
	<p>To push packages, first set your API Key:</p>

	<blockquote><code>nuget setApiKey {{key}} -Source {{pushUri}}</code></blockquote>

	<p>To push packages, run</p>

	<blockquote><code>nuget push [package.nupkg] -Source {{pushUri}}</code></blockquote>
{{else}}
	<p>Your NuGet API Key is {{key}}, but you are not allowed to push packages.</p>
{{/if}}

<button {{action "changeKey"}}>Change API Key</button>

<p>
    You have the following permissions:
    {{#each role in roles}}
        {{role}}
    {{else}}
        (none)
    {{/each}}
</p>
