<h1>{{model.username}}</h1>

{{#if keyHidden}}
  <p>Your API Key is hidden for security.</p>
  <button {{action "revealKey"}}>Reveal</button>
{{else}}
  {{#if canPushPackages}}
    <p>Your API Key is:</p>
    {{code-snippet content=key}}
    <p>To push packages, first set your API Key:</p>

    {{code-snippet content=setApiKeyCommandWithPrompt data=setApiKeyCommand}}

    <p>To push packages, run:</p>

    {{code-snippet content=pushPackageCommandWithPrompt data=pushPackageCommand}}
  {{else}}
    <p>Your NuGet API Key is {{key}}, but you are not allowed to push packages.</p>
  {{/if}}

  <button {{action "changeKey"}}>Change API Key</button>
{{/if}}

<p>
  You have the following permissions:
  {{#each model.roles as |role|}}
    {{role}}
  {{else}}
    (none)
  {{/each}}
</p>
